<div class="background col-3 col-s-12">
    <h1 class="heading">Welcome To Notepad Application</h1>
    <div class="col-md-6">
        <img style="border-radius: 15px;" src="assets/images/notepadlogo.jpg" width="400" height="400">
    </div>
    <div class="col-md-6">
        <div class="insidediv"></div>
        <div>
            <button class=" btn btn-primary" style="background-color: salmon; margin-left: 70px;" (click)="newfile()">Create New File</button><span style="margin-right: 30px;"></span><br><br>
            <button class=" btn btn-primary" style="background-color: salmon; margin-left: 70px;" (click)="help()">Help Document</button>
        </div>
    </div>
    
</div>


