nav{
    background-color: #b3d9ff;
    font-weight: bold;
    text-shadow: ivory;
    
}
.dummy{
    height: 530px;
}
footer {
    display: flex;
    background-color:#e6f2ff;
    padding: 10px;
    
    color: Black;
  }
  .footerp{
      text-align: center;
  }
  