<h2 style="text-align: center; background-color:#e6f2ff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >About Us</h2>
<div class="dummy"></div>

<div class="column">
  <div class="card">
    
    <div class="container">
      <h2>Rama Saranya</h2>
      <p class="title">Angular</p>
      <p>saranya@tcs.com</p>
      <p><button class="btn btn-primary" style="background-color: salmon;">Contact</button></p>

    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    
    <div class="container">
      <h2>Dinesh Koranda</h2>
      <p class="title">Angular</p>
      
      <p>dinesh@tcs.com</p>
      <p><button class="btn btn-primary" style="background-color: salmon; align-items: center;">Contact</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    
    <div class="container">
      <h2>Dastagiri Reddy</h2>
      <p class="title">Angular</p>
      <p>dastagiri@tcs.com</p>
      <p><button class="btn btn-primary" style="background-color: salmon;">Contact</button></p>

    </div>
  </div>
</div>